.chart-bar.series200 .bar {
    -fx-bar-fill: green;
}

.chart-bar.series300 .bar {
    -fx-bar-fill: orange;
}

.chart-bar.series400 .bar {
    -fx-bar-fill: red;
}

.chart-bar.series500 .bar {
    -fx-bar-fill: purple;
}