.sidebar {
    -fx-background-color: #000000;
    -fx-pref-width: 150px;
}

.sidebar-content-wrapper {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 20px 10px 20px 10px; /* top right bottom left */
}

.sidebar-content-label {
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
}

.sidebar-content-label:hover {
    -fx-background-color: #939c9d;
}

.signout-wrapper{
    -fx-alignment: BOTTOM_CENTER;
}

.main {
    -fx-background-color: #00FF00;
}
