.sidebar {
    -fx-background-color: white;
}

.sidebar-content-wrapper {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 20px 20px 0px 20px;
}

.sidebar-content-label {
    -fx-min-width: 150px;
    -fx-min-height: 40px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
}

.sidebar-content-label:hover {
    -fx-background-color: #e6ebf2;
}

.main {
    -fx-background-color: white;
}

.pieChart {
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #ffffff;
    -fx-font-size: 30;
}